# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.env
.env.docker
.pytest_cache/
dist/
*.pyc

# Node
node_modules/
dist/
.env
coverage/
*.js.map

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
